@using IRCTCClone.E_D

@* @{
    string encryptedTrainId = UrlEncryptionHelper.Encrypt(t.Id.ToString());
    string encryptedDate = UrlEncryptionHelper.Encrypt(ViewBag.JourneyDate.ToString());
} *@

@{
    ViewData["Title"] = "Forgot Password";
}

<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
@*     <div class="container card-body align-content-center">
 *@  
<section class="page-centered-password">


 <div class="forgot-card">
        <h2>Forgot Password</h2>

        <form method="post" action="/Account/ForgotPassword">
            <div class="form-group-body">
                <label>Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter your registered email" required />
            </div>

            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="newPassword" class="form-control" placeholder="Enter your new password" required />
            </div>

            <button type="submit" class="btn btn-primary btn-sm fgbtn">Update Password</button>
        </form>

        @if (ViewBag.Error != null)
        {
            <p class="message text-danger">@ViewBag.Error</p>
        }

        @if (ViewBag.Message != null)
        {
            <p class="message text-success">@ViewBag.Message</p>
        }

        <a href="/Account/Login" class="back-link fgbl">← Back to Login</a>
    </div>
    </section>
</body>
</html>
