

@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="admin-container">
    <!-- Top Bar -->
    <div class="admin-header">
        <h3>Welcome, Admin 👋</h3>
    </div>

    <hr />

    <!-- Dropdown Section -->
    <div class="text-center mt-3">
        <div class="nav-item dropdown">
            <button class="btn bg-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">Manage IRCTC Data ▼</button>
            <ul class="dropdown-menu p-1 small">
                <li>
                    <a class="dropdown-item text-black"
                        asp-action="CreateStation" asp-controller="Admin">Create Station</a></li>
                <li>
                    <a class="dropdown-item text-black" 
                        asp-action="StationList" asp-controller="Admin">Edit/Delete Stations</a>
                </li>
                <li>
                    <a class="dropdown-item text-black"
                        asp-action="CreateTrain" asp-controller="Admin">Add Train</a>
                </li>
                <li>
                    <a class="dropdown-item text-black"
                       asp-controller="Admin" asp-action="TrainList" class="btn btn-warning btn-sm">Edit/Delete Trains</a>
                </li>
            </ul>
         </div>
    </div>
</div>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />