@model List<IRCTCClone.Models.Station>

@{
    ViewData["Title"] = "Search Trains";
}

<div class="home-page">
    <div class="new-search-box">
        <h2>Search Trains</h2>
        <form method="post" action="/Train/TrainResults">
            <div class="new-search">
            <div class="form-group position-relative">
                <input type="text" id="fromStation" placeholder="From Station" autocomplete="off" required />
                <input type="hidden" id="fromStationId" name="fromStationId" />  <!-- hidden -->
                <div id="fromStationList" class="autocomplete-list"></div>
            </div>
            </div>

            <div class="swapStations">
                <button type="button" id="swapStations">⇄</button>
            </div>

            <div class="new-search">
            <div class="form-group position-relative">
                <input type="text" id="toStation" placeholder="To Station" autocomplete="off" required />
                <input type="hidden" id="toStationId" name="toStationId" />  <!-- hidden -->
                <div id="toStationList" class="autocomplete-list"></div>
            </div>
            </div>


            <input type="date" name="journeyDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" required />
            <button type="submit" class="btn btn-primary">Search Trains</button>
            <div class="text-center">
                <a asp-controller="Booking" asp-action="CheckPNR">
                    🔍 Check PNR Status
                </a>
            </div>
        </form>
    </div>
</div>

<!-- ==== IRCTC Announcement Modal ==== -->
<div id="irctc-warning-overlay" class="irctc-overlay">
    <div class="irctc-modal">
        <h3 class="title">Alert</h3>
        <br />
        <p class="msg">
            <strong></strong>
            With effect from <b>28th October 2025</b>, only <b>Aadhaar authenticated users</b>
            are allowed to book tickets between <b>8 AM to 10 AM</b> on the first day
            of opening of reserved ticket booking.
        </p>

        <p class="msg">
            <strong></strong>
            <b>28 अक्टूबर 2025</b> से, केवल <b>आधार प्रमाणित उपयोगकर्ताओं</b> को
            आरक्षित टिकट बुकिंग खुलने के पहले दिन
            <b>सुबह 8 बजे से 10 बजे</b> के बीच टिकट बुक करने की अनुमति होगी।
        </p>

        <button id="close-warning" class="warning-close-btn">OK</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/site.js"></script>


<script>
    // Close announcement and enable page
    document.addEventListener("DOMContentLoaded", function () {

        var closeBtn = document.getElementById("close-warning");
        var overlay = document.getElementById("irctc-warning-overlay");

        if (closeBtn) {
            closeBtn.addEventListener("click", function () {
                overlay.style.display = "none";
            });
        }
    });
</script>